.section {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image_container {
  position: relative;
  height: 600px;
  width: 400px;
}

.heading_image {
  height: 600px;
  width: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fadein 2s 6s ease-out forwards;
}

.being_animated .heading_image {
  opacity: 0;
}

.heading_title {
  font-size: 10rem;
  /* animation: move 2s infinite alternate linear; */
  transition: all 1.5s ease-out;
  position: absolute;
}

.being_animated .heading_title {
  animation: fadein 2s ease-out forwards !important;
  opacity: 0;
  top: 50% !important;
  left: 50% !important;
}

.heading_title:nth-child(4) {
  transform: translate(-500%, -50%);
  top: 10%;
  left: 71%;
  z-index: 0;
}
.heading_title:nth-child(5) {
  transform: translate(-145%, -50%);
  top: 21%;
  left: 104%;
  z-index: 5;
}
.heading_title:nth-child(6) {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 19%;
  z-index: 5;
}
.heading_title:nth-child(7) {
  transform: translate(50%, -50%);
  top: 65%;
  left: 62%;
  z-index: 15;
}
.heading_title:nth-child(8) {
  transform: translate(400%, -50%);
  top: 90%;
  left: -4%;
  z-index: 25;
}

.being_animated .heading_title:nth-child(4) {
  animation-delay: 3s !important;
}
.being_animated .heading_title:nth-child(5) {
  animation-delay: 3.1s !important;
}
.being_animated .heading_title:nth-child(6) {
  animation-delay: 3.2s !important;
}
.being_animated .heading_title:nth-child(7) {
  animation-delay: 3.3s !important;
}
.being_animated .heading_title:nth-child(8) {
  animation-delay: 3.4s !important;
}

/* .heading_image:nth-child(1):not(.being_animated .heading_image) {
  animation: opacity 2s 5s infinite alternate linear;
} */

@keyframes opacity {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

@keyframes move {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
