.h1 {
  text-align: center;
  font-weight: 100;
  margin: 0;
  /* position: absolute; */
  width: 50%;
  text-align: center;
  /* top: 24px; */
  line-height: 1;
  font-size: clamp(64px, 7vw, 108px);
  word-wrap: break-word;
}

.section {
  width: 100vw;
  height: 400vh;
  color: #cdc6be;
  position: relative;
}

.headers {
  width: 100vw;
  /* position: absolute; */
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary_header {
  margin: 0;
  text-align: center;
  line-height: 1;
  font-size: clamp(88px, 20vw, 250px);
}

.section_track {
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
}

.in_view {
  position: fixed;
}

.out_of_view {
  position: absolute;
  top: 300vh;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rotating_images_container {
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(700px, 75vw, 1000px);
  height: 100%;
}

.rotating_images {
  width: clamp(280px, 28vw, 400px);
  height: clamp(210px, 21vw, 300px);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.8);
  border-radius: 24px;
}

.container:last-child {
  margin-right: clamp(175px, 19vw, 250px);
}

@media (max-width: 400px) {
  .container:last-child {
    margin-right: -150px !important;
  }
}

@media (max-width: 768px) and (min-width: 400px) {
  .container:last-child {
    margin-right: 0px;
  }
}

.info_container {
  width: clamp(400px, 40vw, 700px);
  max-width: 80vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.info_container .h2 {
  font-size: clamp(40px, 5vw, 56px);
  margin-top: -24px;
  font-weight: 100;
  line-height: 1;
}

.info_container .h3 {
  font-size: clamp(24px, 3vw, 40px);
  font-weight: 300;
}

.info_container .text {
  font-size: clamp(16px, 1vw, 28px);
  font-weight: 200;
}
