.h1 {
  text-align: center;
  font-weight: 100;
}

.headers {
  width: 100vw;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary_header {
  margin: 0;
  text-align: center;
  line-height: 1;
  font-size: clamp(88px, 20vw, 250px);
}

.section {
  width: 100vw;
  height: 400vh;
  background-color: black;
  color: white;
  position: relative;
}

.section_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.in_view_wrapper {
  position: fixed;
  top: 0;
}

.out_of_view_wrapper {
  position: absolute;
  top: 250vh;
}

@media (max-width: 1285px) {
  .section {
    flex-direction: column;
  }
}

.carousel_scene {
  width: 100vw;
  height: 60vh;
  position: relative;
  perspective: 1000px;
  margin-top: 72px;
  z-index: 10;
}

.carousel {
  width: 100vw;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel_cell {
  width: clamp(300px, 40vw, 500px);
  /* height: clamp(225px, 30vw, 375px); */
  perspective: 1000px;
}
.carousel_cell_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.carousel_cell_picture {
  width: clamp(300px, 40vw, 500px);
  height: clamp(225px, 30vw, 375px);
  border-radius: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel_cell_text {
  text-align: center;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.carousel_cell_header {
  font-size: clamp(56px, 7vw, 72px);
  margin-top: -24px;
}

.carousel_cell_description {
  font-size: 20px;
}
