.h1 {
  text-align: center;
  font-weight: 100;
}

.section {
  width: 100vw;
  min-height: 400vh;
  /* max-height: 100vh; */
  color: #cdc6be;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.headers {
  width: 100%;
  height: 100vh;
  z-index: 25;
  position: absolute;
  top: 0;
}

.out_of_view_wrapper {
  top: 300vh;
}

.in_view_header {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.headers_wrapper {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

.primary_header {
  margin: 0;
  /* position: absolute; */
  width: 50%;
  text-align: center;
  /* top: 24px; */
  line-height: 1;
  font-size: clamp(64px, 7vw, 108px);
}

.secondary_header {
  margin: 0;
  margin-top: 24px;
  /* position: absolute; */
  width: 70%;
  text-align: center;
  /* bottom: 24px; */
  line-height: 1;
  font-size: clamp(64px, 9vw, 120px);
}

@media (max-width: 600px) {
  .primary_header,
  .secondary_header {
    width: 80%;
  }
}

.project_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  filter: brightness(0.8);
  z-index: 10;
  height: 100vh;
}

.secondary_1,
.secondary_2,
.primary {
  background-color: #ccc;
  border-radius: 24px;
  box-shadow: 0 0 56px rgba(50, 50, 50, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.secondary_1,
.secondary_2 {
  position: absolute;
  width: clamp(150px, 20vw, 300px);
}

.secondary_1 {
  top: -15vh;
  left: -15vw;
  height: clamp(120px, 15vw, 200px);
}

.secondary_2 {
  bottom: -20vh;
  right: -10vw;
  height: clamp(140px, 20vw, 250px);
}

.primary {
  position: relative;
  width: clamp(300px, 40vw, 600px);
  height: clamp(225px, 30vw, 450px);
}

.project_wrapper {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 300vh;
}

.background_shadow {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(40px);
  transform: scale(1.1);
  opacity: 0;
  z-index: 1;
}
