.h1 {
  text-align: center;
  font-weight: 100;
}

.headers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 25;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.primary_header {
  margin: 0;
  /* position: absolute; */
  width: 50%;
  text-align: center;
  /* top: 24px; */
  line-height: 1;
  font-size: 7vw;
}

.secondary_header {
  margin: 0;
  /* position: absolute; */
  width: 70%;
  text-align: center;
  /* bottom: 24px; */
  line-height: 1;
  font-size: 9vw;
}


.section {
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  filter: brightness(0.6);
  z-index: 10;
}

.secondary_1,
.secondary_2,
.primary {
  background-color: #ccc;
  border-radius: 24px;
  box-shadow: 0 0 56px rgba(50, 50, 50, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.secondary_1,
.secondary_2 {
  position: absolute;
  width: 20vw;
}

.secondary_1 {
  top: 15px;
  left: -15vw;
  height: 15vw;
}

.secondary_2 {
  bottom: 10vh;
  right: -10vw;
  height: 20vh;
}

.primary {
  position: relative;
  width: 40vw;
  height: 60vh;
}

.project_wrapper {
  position: relative;
}

.background_shadow {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(40px);
  transform: scale(1.1);
  opacity: 0;
  z-index: 1;
}
