.h1 {
  text-align: center;
  font-weight: 100;
  margin: 0;
  /* position: absolute; */
  width: 50%;
  text-align: center;
  /* top: 24px; */
  line-height: 1;
  font-size: clamp(64px, 7vw, 108px);
  word-wrap: break-word;
}

.section {
  width: 100vw;
  height: 400vh;
  color: #cdc6be;
  position: relative;
}

.headers {
  width: 100vw;
  /* position: absolute; */
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary_header {
  margin: 0;
  text-align: center;
  line-height: 1;
  font-size: clamp(88px, 20vw, 250px);
}

.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.in_view {
  position: fixed;
}

.out_of_view {
  position: absolute;
  top: 300vh;
}

.text_container {
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 100vh;
}

.contact_element .text {
  font-size: clamp(32px, 4vw, 64px)
}

