.chip {
  padding: 4px 8px;
  border-width: 1px;
  border-radius: 18px;
  height: 28px;
  border-style: solid;
  font-size: 10px;
  text-transform: uppercase;
  border-color: rgba(var(--r), var(--g), var(--b), 0.7);
  color: rgba(var(--r), var(--g), var(--b), 1);
  background-color: rgba(var(--r), var(--g), var(--b), 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chip_group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 12px;
  flex-wrap: wrap;
}
